<!--<p>
  {{passedAssignment.title}}
</p>-->

<div class="container" *ngIf="passedAssignment">
	<mat-card>
		<mat-card-title>{{passedAssignment.title}}</mat-card-title>
        <mat-card-subtitle>{{passedAssignment.spanishTitle}}</mat-card-subtitle>
        <mat-card-content>Sinopsis</mat-card-content> 
        <div id="bottom">
        <mat-checkbox *ngIf="passedAssignment.submitted===false"(click)="onAssignmentSubmitted()">mark as submit</mat-checkbox>

    
        
        <button mat-stroked-button color="primary" (click)="onClickEdit()"
        [disabled]="!isAdmin()" #edit>EDIT</button>
       


        <button mat-stroked-button color="primary" (click)="onDelete()">DELETE</button>
    </div>
	</mat-card>
	
</div>