<div class="container">
 <h1>
  <nav><a routerLink="/home">{{appName}}</a></nav>
</h1>
	

	<mat-slide-toggle color="primary" (click)="login()">Login</mat-slide-toggle>


</div>

<router-outlet></router-outlet>





<!--
<button mat-button>Click</button>
<button mat-raised-button>Click</button>-->


<!--<app-assignment-detail></app-assignment-detail>-->


<!--
<button mat-flat-button>Flat</button>
<button mat-stroked-button>Stroked</button>
<button mat-icon-button>Icon</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>Mini fab</button>-->





