<form ngForm #assignmentsForm class="form">
    <mat-form-field>
        <input matInput #assignmentName [(ngModel)]="title" name="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <input matInput #assignmentName [(ngModel)]="imdblD" name="imdblD" placeholder="IMDBID">
    </mat-form-field>

	<mat-form-field>
		<input matInput #assignmentName [(ngModel)]="spanishTitle" name="spanishTitle" placeholder="Spanish Title">
	</mat-form-field>
    <mat-form-field>
        <input matInput #assignmentName [(ngModel)]="imdbPictureURL" name="imdbPictureURL" placeholder="IMD Picture URL">
    </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="year" name="year" placeholder="Year">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtID" name="rtID" placeholder="RT ID">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAllCriticsRating" name="rtAllCriticsRating" placeholder="All Critics Rating">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAllCriticsNumReviews" name="rtAllCriticsNumReviews" placeholder="All Critics Num Reviews">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAllCriticsNumFresh" name="rtAllCriticsNumFresh" placeholder="All Critics Num Fresh">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAllCriticsNumRotten" name="rtAllCriticsNumRotten" placeholder="All Critics Num Rotten">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtTopCriticsScore" name="rtTopCriticsScore"        placeholder="Top Critics Score">
        </mat-form-field>
    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAudienceRating" name="rtAudienceRating"         placeholder="Audience Rating">
        </mat-form-field>

    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAudienceNumRatings" name="rtAudienceNumRatings" placeholder="Audience Num Ratings">
        </mat-form-field>
    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtAudienceScore" name="rtAudienceScore" placeholder="Audience Score">
        </mat-form-field>
    <mat-form-field>
            <input matInput #assignmentName [(ngModel)]="rtPictureURL" name="rtPictureURL" placeholder="Picture URL">
        </mat-form-field>
     <button  mat-stroked-button (click)="imgFileInput.click()" color="primary">Add a Poster</button>
       <input hidden type="file" #imgFileInput (change)="previewImage($event)"/>
<!--
    <mat-form-field>
    	<input matInput [matDatepicker]="picker" 
    	[(ngModel)]="dueDate" name="name" 
    	placeholder="Movie Date">

    	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
-->

	<button mat-stroked-button [disabled]="enabled" (click)="onSubmit(); assignmentsForm.reset()" routerLink="/home" color="primary">Add Movie</button>
</form>